.custom-select {
  width: 50%;
  background: black;
  background: linear-gradient(45deg, #e3c9f8 30%, #9494a8 70%);
  border-radius: 20px;
  animation: b-ts-a 0.6s ease forwards;
  animation-delay: 3.8s;
  opacity: 0;
}

.select-box {
  padding: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-options {
  position: absolute;
  right: 0;
  bottom: 50px;
  background: rgba(167, 167, 167, 0.384);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 100000;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  border-radius: 15px;
  backdrop-filter: blur(4px);
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: inherit;
}

.select-option {
  padding: 10px 16px;
  cursor: pointer;
}

.select-option:hover {
  color: var(--pricolor);
}

.arrow {
  font-size: 12px;
  color: #ffc963;
}

